@font-face {
	font-family: 'Rock Salt';
    src: url('../css/font-rocksalt/rocksalt-webfont.eot');
    src: url('../css/font-rocksalt/rocksalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/font-rocksalt/rocksalt-webfont.woff2') format('woff2'),
         url('../css/font-rocksalt/rocksalt-webfont.woff') format('woff'),
         url('../css/font-rocksalt/rocksalt-webfont.ttf') format('truetype'),
         url('../css/font-rocksalt/rocksalt-webfont.svg#rock_saltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

