
#map * {
  text-shadow: none; 
}

#map { position: absolute; top: 50px; bottom: 0px; left: 0px; right: 0px; font-family: Helvetica; text-shadow: 0px;}
#map .ol-zoom { font-size: 1.2em; }

.zoom-top-opened-sidebar { margin-top: 5px; }
.zoom-top-collapsed { margin-top: 45px; }

.mini-submenu{
  display:none;  
  background-color: rgba(255, 255, 255, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;
  text-align: center;
}

.mini-submenu-left {
  position: absolute;
  top: 60px;
  left: .5em;
  z-index: 40;
}

#map { z-index: 35; }

.sidebar { 
  z-index: 45; 
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 10px;
}

.panel {
  background: #876146;
  border: 2px solid black;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px 0px 15px 15px;  
}  

.panel-default > .panel-heading {
  background-color: transparent;
  border: 0px;
}

.panel-default > .panel-heading a {
  color: #FFB500;
  text-decoration: none;
}
.panel-default > .panel-collapse a {
  color: #FFA500;
}
.panel-default a:hover {
    color: #fff;
    background: none;
    text-decoration: none;
}

}
.pull-right.slide-submenu {
    border-radius: 15px;
    color: #333;
    background-color: rgba(191,159,115,0.9);
    padding: 5px;
}

.list-group-item {
  border: none;
  background-color: transparent;
  display: block;
  text-decoration: none;
  color: #FFB500;  
  white-space: nowrap;
  font-size: 0.75em;
}

.list-group-item:hover {
  display: block;
  text-decoration: none;
  color: #FFB500;;
  background: rgba(255,255,255,0.2);
}
.btn-dark {
  margin-top: 25px;
  border-radius: 0;
  color: #fff;
  background-color: rgba(75,15,0,0.9);
  border-radius: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: #666;
    border: 1px solid black;
}

.main-row { position: relative; top: 0; }

.mini-submenu:hover{
  cursor: pointer;
}

.slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

/* Model window */
.modal-title * {
  width: 100%;
  text-align: center;
}

.blockMsg {
  border-radius: 15px;
  padding: 35px !important;
  padding-top: 15px !important;
  background-color: #876146 !important;
  color: #f5b500 !important;

  background: rgba( 255, 255, 255, 1 ) 
                url('../img/ajax-loader.gif') 
                50% 75% 
                no-repeat;  
}

.summary-heading {
  background-color: rgba(0,0,0,.25) !important;
  border-radius: 10px;
}

.modal-header {
  padding: 0px;
}
.modal-body .results-panel {
  margin-top: 0px; margin-bottom: 3px;
}
.modal-body .panel-body {
  padding: 5px;
}

.results-panel .result-item,
.results-panel .result-price,
.results-panel .result-company {
  color: #555;
  background-color: white;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}

.results-panel .price-selected,
.results-panel .input-group,
#stopover-list, #payment-form input, #payment-form select {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.price-selected {
  text-shadow: none;
}
.results-panel .result-price {
  font-weight: bold;
  text-align: right;
}

#payment-form input , #payment-form select {
  padding: 4px;
}

.result-company img {
  height: 18px;
}
